{% extends 'base.html.twig' %}

{% block body %}

<br>
<br>
<br>
<br>
<style>
    body {
        background-image: url({{asset('images/v4.jpg') }}) ;
        background-image: no-repeat;
        background-attachment:
                inherit;}
</style>
<br>
<br>
<br>
<br>
    <div align="left" class="container blog-holder">
        <div class="row">
            <h1>Votre dernier Rendez-Vous:{{ rendezVous.id }}</h1>
                <div class="col-md-9 posts">
                <div class="row">

                    <div class="col-md-12">
                        <div class="post-315 post type-post status-publish format-standard has-post-thumbnail hentry category-uncategorized tag-overnight tag-prices">
                            <h2><span>{{ rendezVous.date|date('Y-m-d') }}</span></h2>
                            <p class="post-info">
                                {{ rendezVous.heure|date('H:i') }} <span>|</span>
                                Par <strong>{{ rendezVous.nom }}</strong> <span>|</span>
                                {{ rendezVous.email }}
                                  </p>
                            <p class="post-img-wrap">
                                <img width="848" height="278" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" src="../../wp-content/uploads/2014/06/blog-1.png" srcset="http://petcare.klevermedia.co.uk/wp-content/uploads/2014/06/blog-1.png 848w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/06/blog-1-300x98.png 300w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/06/blog-1-768x252.png 768w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/06/blog-1-374x123.png 374w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/06/blog-1-360x118.png 360w" sizes="(max-width: 848px) 100vw, 848px"> </p>

                            <div class="col-md-6" style="font-size: xx-large"> <center><a  href="tel:{{ rendezVous.num }}"  align="left"><i class="fa fa-phone"></i>      &emsp;&emsp;&emsp;{{ rendezVous.num }}</a></center></div>
                            <div class="col-md-6" style="font-size: xx-large"><p align="left"><i class="fa fa-paw"></i>      &emsp;&emsp;&emsp;{{ rendezVous.typea }}</p></div>
                             </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
<br>
{% endblock %}
