<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Pidev{% endblock %}</title>
        {% block annoncestylsheets %}{% endblock %}
        {% block stylesheets %}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>PetCare Kennels - Responsive html template</title>

            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

            <link href="{{ asset('css/navdropdown.css') }}" rel="stylesheet">
            <link href="{{ asset('css/style.css') }}" rel="stylesheet">
            {# <link href="css/style.css" rel="stylesheet">#}

            <link href='http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic' rel='stylesheet' type='text/css'>
            <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
            <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->
            <!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/ie8.css" /><![endif]-->
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body background="{{ asset('images/backnewannonce.jpg') }}">
    <div style="background-color:#f5f5f5 ;opacity: 0.8;"  class="navbar navbar-default navbar-fixed-top affix inner-pages" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <h1><a class="navbar-brand" style="color: #000" href="{{ path('user_homepage') }}"><strong>Pet</strong>Care<br />
                        <span data-hover="Pidev">Pidev</span>
                    </a></h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li >
                        <a  href="{{ path('user_homepage') }}"  title="Home"><span data-hover="Acceuil">Acceuil</span></a>
                    </li>
                    <li class="active">
                        <a href="{{ path('annonce_index') }}" title="Pets"><span data-hover="Annonces">Annonces</span></a>
                    </li>
                    <li>
                        <a href="#" title="Products"><span data-hover="Services">Services</span></a>
                    </li>
                    <li>
                        <a href="#" title="Leisure"><span data-hover="Shop">Shop</span></a>
                    </li>
                    <li >
                        <a  href="#"  title="Services"><span data-hover="Reservations">Reservations</span></a>
                    </li>

                    {% if app.user %}
                    <li>
                        <a  href="{{ path('fos_user_profile_show') }}"  title="se connecter"><span data-hover="profile">profile</span></a>
                    </li>
                    <li>
                        <a  href="{{ path('fos_user_security_logout') }}"  title="inscription"><span data-hover="se deconnecter">se deconnecter</span></a>
                    </li>
                    {% else %}
                        <li>
                            <a  href="{{ path('fos_user_security_login') }}"  title="se connecter"><span data-hover="se connecter">se connecter</span></a>
                        </li>
                        <li>
                            <a  href="{{ path('fos_user_registration_register') }}"  title="inscription"><span data-hover="inscription">inscription</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>
    </div>
    </div>
    {% if  app.request.get('_route')=='user_homepage' %}
    <div id="home_carousel" class="carousel slide carousel-fade" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#home_carousel" data-slide-to="0" class=""></li>
            <li data-target="#home_carousel" data-slide-to="1" class="active"></li>
        </ol>

        <div class="carousel-inner">
            <div class="item">
                <img width="1500" height="895" src="{{ asset('images/2.png') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/2.png 1500w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/2-300x179.png 300w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/2-768x458.png 768w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/2-1024x611.png 1024w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/2-374x223.png 374w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/2-360x215.png 360w" sizes="(max-width: 1500px) 100vw, 1500px"> <div class="carousel-caption">
                    <h2>Welcome to PetCare kennels</h2>
                    <p></p><p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                    <p></p>
                </div>
            </div>
            <div class="item active">
                <img width="1500" height="895" src="{{ asset('images/3.png') }}" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="" srcset="http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/3.png 1500w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/3-300x179.png 300w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/3-768x458.png 768w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/3-1024x611.png 1024w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/3-374x223.png 374w, http://petcare.klevermedia.co.uk/wp-content/uploads/2014/04/3-360x215.png 360w" sizes="(max-width: 1500px) 100vw, 1500px"> <div class="carousel-caption">
                    <h2>Sell yourself, with a fantastic website</h2>
                    <p></p><p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram, anteposuerit litterarum formas humanitatis per seacula quarta decima et quinta decima.
                    <p></p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#home_carousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#home_carousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    {% endif %}
<center>
        {% block body %}

        {% endblock %}
</center>

    <div class="footer" style="position: -ms-device-fixed;margin-top: 50%">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h6>A little about us</h6>
                    <p><strong>Our mission is to save every abondaned-animal and give them the chance to have a home. Paws and Claws gives you the chance to adopt an animal for free and enjoy their company.</strong></p>
                    <p>We believe there's a hero in every animals' lover. One click and you'll actually become one !</p>
                </div>
                <div class="col-md-3 blog">
                    <h6>Freshly blogged</h6>
                    <p class="title"><a href="#" title="">Eodem modo typi, qui nunc nobis</a></p>
                    <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum claram.</p>
                    <p><a href="#" title="">Read this post…</a></p>
                </div>
                <div class="col-md-3">
                    <h6>You may need this</h6>
                    <ul>
                        <li><a href="#" title="">Home</a></li>
                        <li><a href="#" title="">Contact us</a></li>
                        <li><a href="#" title="">FAQ</a></li>
                        <li><a href="#" title="">Terms &amp; conditions</a></li>
                        <li><a href="#" title="">Privacy policy</a></li>
                    </ul>
                </div>
                <div class="col-md-3 contact-info">
                    <h6>Keep in touch</h6>
                    <p>If you have a question or want to have more infos about us, don't hesitate to contact us. You can also find us on </p>
                    <p class="social">
                        <a href="#" class="facebook"></a> <a href="#" class="pinterest"></a> <a href="#" class="twitter"></a>
                    </p>
                    <p class="c-details">
                        <span>Mail</span> <a href="mailto:saif.labbaoui@esprit.tn" title="">saif.labbaoui@esprit.tn</a><br>
                        <span>Tel</span> <a href="tel:0203 000 444" >0203 000 444</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copyright">
                    <p>© Copyright 2018. All rights reserved. <a href="#" title="zanimaux">inv</a></p>
                </div>
            </div>
        </div>
    </div>
    {% block annoncejavascripts %}{% endblock %}
    {% block javascripts %}

        <!-- Javascript plugins -->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/carouFredSel.js') }}"></script>
        <script src="{{ asset('js/jquery.stellar.min.js') }}"></script>
        <script src="{{ asset('js/navdropdown.js') }}"></script>
        <script src="{{ asset('js/ekkoLightbox.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
    {% endblock %}
    </body>
</html>
