{% extends 'base.html.twig' %}
{% block annoncestylsheets %}
    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        @media (min-width: 768px) {
            .cont {
                width: 1000px;
                height: 500px;
            }
        }
        .annonce:hover,
        .featuredImgLook2 .inner:hover {
            border: 2px solid #4ec67f;

        }
        .annonce{
            border: 1px solid #4ec67f
        }

        .trouver{
            color: #4ec67f;
            border: 1px
        }
        .perdu{
            color: #f9243f;
            border: 1px
        }

    </style>
{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <br>

    <h1>Annonces list</h1>
    <button type="submit" class="btn btn-primary">
        <a href="{{ path('annonce_new') }}">Ajout Annonce</a>
    </button>

    <div class="cont">
        <div class="row xsResponse">
            {% for annonce in annonces %}
                <div class="col-lg-3 col-md-3 col-sm-6" >
                    <br>
                    <br>
                    <div class="annonce" href="{{ path('annonce_show', {'id': annonce.id}) }}">
                                <div class="image">

                                    <a href="{{ asset('productImages/')~ annonce.nomImage}}"  style="height: 400px; width: 300px"  >
                                        <img
                                                alt="img"
                                                src="{{ asset('productImages/')~ annonce.nomImage}}"
                                                height="250" width="300"></a>
                                </div>
                                <br>
                                <div class="description">
                                    <h4><a href="{{ path('annonce_show', {'id': annonce.id}) }}">{{ annonce.name }}</a></h4>
                                    <br>
                                    <button class="fa fa-thumbs-up" ></button>
                                    <button class="fa fa-thumbs-down"></button>
                                    <button class="fa fa-exclamation"></button>
                                    <br>
                                    <br>
                                    {% if annonce.type=="trouver"  %}
                                        <h4 class="trouver">trouver</h4></div>
                                    {% else %}
                                        <h4 class="perdu">perdu </h4>
                                    {% endif %}

                                </div>
                    </div>
                    <br>
                    <br>
                </div>

                {% endfor %}
            <br>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('annonce_new') }}">Create a new annonce</a>
        </li>
    </ul>

{% endblock %}
{% block annoncejavascripts %}
    <script>

    </script>

{% endblock  %}
